<!DOCTYPE html>

<h1><%=@route.name%></h1>
  <h2>Delivery days: <%=@route.day%></h2>

<br></br>

  <h2>Destinations: </h2>
    <%@route.addresses.each do |address|%>
      <li><a href='/addresses/<%=address.id%>'><%=address.client_name%></a></li>
    <%end%>

<br></br>

<a class="button" href="/routes/<%=@route.id%>/edit">Edit Route</a>
<br></br>
<a class="button" href="/application/app_index">Main Menu</a>

<br></br>

<form method="post" action="/routes/<%=@route.id%>">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="DELETE"> 
</form>